@import "node_modules/ol/ol.css";

:root {
  /* Colors */
  --bg-header: #161925;
  --bg-header-hover: #8EA8C3;
  --font-color-nav: #f2f2f2;
  --bg-logo: #23395b;
  /* Fonts */
  --font-family-body: 'Montserrat', sans-serif;
}

html, body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
#map {
  /*position: absolute;
  top: 0;
  bottom: 0;*/
  height: calc(100vh - 50px);
  width: 100%;
}


.header-nav {
  overflow: hidden;
  background-color: var(--bg-header);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(100, 100, 100, 1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(100, 100, 100, 1);
  box-shadow: 0px 2px 5px 0px rgba(100, 100, 100, 1);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.header-nav__btn {
  /* float: left; */
  color: var(--font-color-nav);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: flex;
}

/*Clase para popup*/
.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}

/*Clase para posición de coordenadas*/
.coordinate_display {
  bottom: 20px;
  right: 8px;
  position: absolute;
  color: blue;
  font-weight: bold;
}

